/*-- scss:defaults --*/

// Fira Code
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

// Noto Sans
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

// Domine
@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400..700&display=swap');

// Yeseva One
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

$azul-oscuro: #003560;
$azul-claro: lighten($azul-oscuro, 25);

$gris-claro: #FAFAFA;
$gris-oscuro: #7F7F7F;

$body-bg: $gris-claro;
$body-color: black;
$link-color: $azul-claro;

$font-family-sans-serif: Noto Sans;
$font-family-monospace: Fira Code;

$navbar-bg: $azul-oscuro;
$navbar-fg: white;

/*-- scss:rules --*/

.header-section-number {
  color: $azul-claro;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  font-family: Domine;
  color: $azul-oscuro;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  font-size: 4em;
  font-family: Yeseva One;
  font-weight: bold;
  color: $azul-oscuro;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  font-weight: 800;
}

.navbar-title {
  color: white;
  font-family: Yeseva One;
  font-size: 1.3em;
}

#title-block-header.quarto-title-block.default .keywords .block-title, #title-block-header.quarto-title-block.default .description .block-title, #title-block-header.quarto-title-block.default .abstract .block-title {
  font-weight: bold;
}

.nav-footer {
  background-color: $azul-oscuro;
  color: white;
  font-family: Yeseva One;
}

.eqi-container {
  display: flex;
  justify-content: space-between;
}

.simple-icons--orcid {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23A6CE39' d='M12 0C5.372 0 0 5.372 0 12s5.372 12 12 12s12-5.372 12-12S18.628 0 12 0M7.369 4.378c.525 0 .947.431.947.947s-.422.947-.947.947a.95.95 0 0 1-.947-.947c0-.525.422-.947.947-.947m-.722 3.038h1.444v10.041H6.647zm3.562 0h3.9c3.712 0 5.344 2.653 5.344 5.025c0 2.578-2.016 5.025-5.325 5.025h-3.919zm1.444 1.303v7.444h2.297c3.272 0 4.022-2.484 4.022-3.722c0-2.016-1.284-3.722-4.097-3.722z'/%3E%3C/svg%3E");
}
